{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong> Olá, {{ user.name }} </strong>    
    <p>Seu(s) Agendamento(s):</p>
    
    <ul class="providers">
      <form action="/app/schedule/{{ user.id }}" method="POST">
        <input type="text" class="flatpickr" placeholder="Escolha uma data para ver a agenda">
        <div id="schedules"></div>        
      </form>    
    </ul>                          

    <a href='/app/logout' class="logout">Sair</a>

  <script type="text/javascript">
    flatpickr('.flatpickr', {      
      dateFormat: 'd/m/Y',
      onChange: function(date) {
        fetch(`/app/schedule/{{ user.id }}?date=${date[0].getTime()}`).then(function (response){
          response.text().then(function (html) {
            document.getElementById('schedules').innerHTML = html
          })
        })
      }
    })
  </script>

{% endblock %}