{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong> Olá, {{ user.name }} </strong>
    <p>A sua agenda de horários é: </p>  

    {# <ul class="providers">
      <form action="/app/schedule/new/{{ appointment.id }}" method="GET">
        <input type="text" class="flatpickr" placeholder="Escolha uma data">
        <div id="hours"></div>
        <button type="submit">Ver agenda</button>
      </form>    
    </ul> #}

    <ul class="providers">
      {% for appointment in appointments %}              
          <li class="provider">            
            <div>                          
              <img src="/files/{{ appointment.user.avatar }}" />              
              <strong> {{ appointment.user.name }} <br> {{ appointment.date | date("HH:mm") }} </strong>
            </div>                      
          </li>                  
      {% endfor %}
    </ul>

    <a href='/app/logout' class="logout">Sair</a>
  </div>  


  {# <script type="text/javascript">
    flatpickr('.flatpickr', {
      minDate: new Date(),
      dateFormat: 'd/m/Y',
      onChange: function (date) {
        fetch(`/app/available/{{ provider.id }}?date=${date[0].getTime()}`).then(function (response) {
          response.text().then(function (html) {
            document.getElementById('hours').innerHTML = html
          })
        })        
      }
    })
  </script> #}

{% endblock %}